.container {
    background-color: #c9d1ff;
}

.block {
    position: absolute;
    background-color: #a0d0f5;
    margin: 2px;
}

.navigation {
    background-color: #3f95ff;
    margin: 2px;
}

.banner {
    margin: 2px;
}